<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fang.client.customerMapper">
<!-- 开启本mappernamespace下的二级缓存 -->
  	<cache />
    <select id="getCustomer" parameterType="int" 
        resultType="com.fang.entity.Customer" >
        select * from customer where id=#{id}
    </select>
    <!-- 新增客户 -->
    <insert id ="addCustomer" parameterType="com.fang.entity.Customer">
    	insert into customer(name,sex,degree) values(#{name},#{sex},#{degree})
    </insert>
    <!-- 修改客户 -->
    <update id="updateCustomer" parameterType="com.fang.entity.Customer">
        update customer set name = #{name} where id = #{id}
    </update>
    <!-- 删除客户 -->
    <delete id="deleteCustomer" parameterType="int">
    	delete from customer where id = #{id}
    </delete>
    <!-- 查询全部 -->
    <select id="getAllCustomer" resultType="com.fang.entity.Customer">
    	select * from customer
    </select>
</mapper>